body {
    background-color: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
/* Navbar */

.navTextColor {
    color: #3A4660;
    background-color: #fafafa;
}

.flashes h4 {
    line-height: 2;
}


/* Recipe_html */
.btn-small{
    margin: 5px;
}
.responsive{
    
}

/* add_recipe */

.recipe_form {
    background-color: #c9af98;
}
/* recipes_page.html */

.recipe_image_wrapper {
    position: relative;
    padding-top: 56.25%;
}

.recipe_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

/* footer */

.footer {
    height: 50px;
    background-color: #3A4660;
    flex-shrink: 0;
}


