body {
    background-color: #fafafa;
}

.navTextColor {
    color: #3A4660 !important;
    background-color: #fafafa;
}

.flashes h4 {
    line-height: 2;
}

.recipe_form {
    background-color: #c9af98;
}
/* 
*/

