@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Poppins:wght@300&family=Quicksand:wght@300;500&display=swap');
@import url('https://terrymooreii.github.io/materialize-social/materialize-social.css');

body {
    background-color: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

/* Textcolor */
.textColor {
    color: #3A4660;
}

.textOrange {
    color: #ED8A63;
}

.textBeige {
    color: #c9af98;
} 

.textBackground {
    background-color: #3A4660;
}

/* Navbar */

.navTextColor {
    color: #3A4660;
    background-color: #fafafa;
}

.headerSocialIcon{
    background:#3A4660;
        margin-top: -11px;
}

.flashes h4 {
    line-height: 2;
    font-family: 'Heebo', sans-serif;
}

/* Fonts */
.fontHeader {
    font-family: 'Heebo', sans-serif;
}

.fontText {
    font-family: 'Poppins', sans-serif; 
}
.fontSmall{
    font-size:0.8em;
}

/* Recipe_html */

.btn-small{
    margin: 5px;
}

.card-image {
    height: 60%;
    max-height: none;
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}   

/* add_recipe */

.recipe_form {
    background-color: #c9af98;
}

/* code used from: https://stackoverflow.com/questions/44942347/change-the-default-color-of-materialize-css-input-fields-i-have-attached-screen line94-107*/
.input:focus {
  border-bottom: 1px solid #3A4660 !important;
  box-shadow: 0 1px 0 0 #3A4660 !important;
}

label.active {
  color: #3A4660 !important;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3A4660;
    -webkit-box-shadow: 0 1px 0 0 #3A4660;
    box-shadow: 0 1px 0 0 #3A4660;
}

/* recipes_page.html */

.recipe_image_wrapper {
   height: 400px;
}

.recipe_image_wrapper img{
  object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Contact */
.contactTitle {
    font-size: 40px;
    color: #c9af98;
}

.contactForm {
    color: #3A4660;
    font-size: 30px;
}

.contactFormTitle {
  color: #3A4660;
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
}

/* footer */

.footer {
    /* height: 50px; */
    background-color: #3A4660;
    /* flex-shrink: 0; */
}

footer div ul{
    display: block;
    margin-top:-1px;
}

footer div ul li{
    display: inline;
    padding-left:20px;
}

footer div ul li .footerSocialIcon{
    background:white;
    color:#3A4660 !important;
}

/* emailalert for contactpage */
.alert{
    display:none;
    text-align:center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#emailAlert{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#emailFail{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}




/* 
    scroll to top button 
    https://codepen.io/deveb22/pen/QxPmGz
*/

#scrollTopButton {
  display: inline-block;
  background-color: #ed8a63;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#scrollTopButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scrollTopButton:hover {
  cursor: pointer;
  background-color: #ed8a63;
}
#scrollTopButton:active {
  background-color: #ed8a63;
}
#scrollTopButton.show {
  opacity: 1;
  visibility: visible;
}