 {% extends "base.html" %}
 {% block content %}

    <h3 class="blue-grey-text darken-2 center-align">Here you can add new recipes! </h3>

<!--Recipe form -->
  <div class="row recipe_form card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
<!--Recipe image-->
        <div class="input-field col s6">
          <i class="material-icons prefix blue-grey-text darken-2">crop_free</i>
          <input id="image_url" name="image_url" type="text" class="validate">
          <label class="blue-grey-text darken-2" for="image_url">Insert a URL for the image</label>
        </div>
<!--Recipe category -->
        <div class="input-field col s6">
            <i class="material-icons prefix blue-grey-text darken-2">arrow_downward</i>
            <select name="category_name" id="category_name" class="validate" required>
                <option value="" diasabled selected></option>
                {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <label class="blue-grey-text darken-2" for="category_name">Category</label> 
        </div>
<!--Recipe_name-->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix blue-grey-text darken-2">spa</i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                type="text" class="validate" required>
                <label class="blue-grey-text darken-2" for="recipe_name">Recipe Name</label>
            </div>
<!--serves-->
            <div class="col s6">
                <label class="blue-grey-text darken-2" for="recipe_serves">Serves</label>
                <p class="range-field">
                    <i class="material-icons prefix blue-grey-text darken-2 left">view_module</i>
                    <input class="col s6 validate" type="range" id="recipe_serves" name="recipe_serves" required min="0" max="30" />
                </p>
            </div>
        </div>
<!--time, difficulty -->
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field col s6">
                    <i class="material-icons prefix blue-grey-text darken-2">timer</i>
                    <input id="recipe_time" name="recipe_time" type="text" class="validate">
                    <label class="blue-grey-text darken-2" for="recipe_time">Cooking time</label>
                </div>
                <div class="input-field col s6 blue-grey-text darken-2 validate" id="recipe_difficulty" name="recipe_difficulty" required>
                    <i class="material-icons prefix blue-grey-text darken-2">traffic</i>
                    <select>
                    <option value="" disabled selected></option>
                    <option value="1">Easy</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Pro</option>
                    </select>
                    <label class="blue-grey-text darken-2" for="recipe_difficulty">Difficulty</label>
                </div>
            </div>
        </div>

<!--description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix blue-grey-text darken-2">list</i>
                <textarea id="recipe_description" name="recipe_description" minlength="5"
                maxlength="50" class="materialize-textarea validate" required></textarea>
                <label class="blue-grey-text darken-2" for="recipe_description">Short recipe description</label>
            </div>
        </div>
<!--ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix blue-grey-text darken-2">local_offer</i>
                <input id="recipe_ingredients" name="recipe_ingredients" type="text" minlength="5"
                maxlength="200" class="validate" required>
                <label class="blue-grey-text darken-2" for="recipe_ingredients">Ingredients (seperate each item with a ";")</label>
            </div>
        </div>
<!--instructions-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix blue-grey-text darken-2">announcement</i>
                <input id="recipe_instructions" name="recipe_instructions" type="text" minlength="5"
                maxlength="200" class="validate" required>
                <label class="blue-grey-text darken-2" for="recipe_instructions">Instructions (e.g. 1.xxx; 2.xxx; ...)</label>
            </div>
        </div>
<!--tips-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix blue-grey-text darken-2">lightbulb_outline</i>
                <input id="recipe_tips" name="recipe_tips" type="text" minlength="5"
                maxlength="200" class="validate" required>
                <label class="blue-grey-text darken-2" for="recipe_tips">Tips (seperate each tip with a ";")</label>
            </div>
        </div>
<!--Switch Vegan -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="material-icons prefix blue-grey-text darken-2">filter_vintage</i>
                    <label class="blue-grey-text darken-2" for="vegan">
                    <input type="checkbox" id="vegan" name="vegan">
                    <span class="lever"></span>
                    Vegan
                    </label>
                </div>
            </div>
        </div>
<!--Submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large blue-grey-text darken-2 white">
                    Add recipe
                </button>
            </div>
        </div>
    </form>
  </div>


 {% endblock %}