{% extends "base.html" %}
{% block content %}

<h4 class="fontHeader textOrange">All categories</h4>

<div class="row">
    {% for category in categories %}
        <div class="col s12 m8 l4">
        <div class="card medium">
            <div class="card-image">
                <img src="{{category.category_url}}">
                <span class="card-title fontText">{{ category.category_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('recipes', category_id=category._id) }}" class="waves-effect waves-light btn-small fontText textBackground">
                    View
                </a>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}