{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text darken-2">All categories</h4>

<div class="row">
    {% for category in categories %}
        <div class="col s12 m4">
        <div class="card blue-grey-text darken-2 white">
            <div class="card-image">
                <img src="{{category.category_url}}">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action blue-grey-text darken-2 white">
                <a href="{{ url_for('get_recipes', category_id=category._id) }}" class="waves-effect waves-light btn-small blue-grey-text darken-2 white">
                    View
                </a>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}