{% extends "base.html" %}
{% block content %}

<div class="re">

</div>
    <h2>All recipes</h2>
    
   {% for recipe in recipes %} 
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.description }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.time }} <br>
        {{ recipe.instructions }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.image_url }}<br>
        {{ recipe.tips }}<br>
        {{ recipe.vegan }}<br>
   {% endfor %}

   <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{ url_for('static', filename='images/pesto.jpeg') }}">
          <span class="card-title">Pasta Pesto</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

{% endblock%}