{% extends 'base.html' %}
{% block content %}

<!-- recipe_headline -->

<div class="row">

    <div class="recipe_headline">
        <h2>{{recipe.recipe_name}}</h2>
        <div class="row">
            <p>Created by: {{recipe.created_by}}</p>
        </div>
    </div>
    <!-- recipe_image_url -->
    <div class="recipe_image_wrapper">
        <img class="recipe_image" src="{{recipe.image_url}}" alt="recipe_image">
    </div>
    <!-- recipe_info -->
    <div class="recipe_description">
        <h5>{{recipe.recipe_description}}</h5>
    </div>
    <div class="recipe_basic">
        <div class="row card-panel">
            <div class="col-3">
                <h6>Cooking time:</h6>
                <p>{{recipe.recipe_time}}</p>
            </div>
            <div class="col-3">
                <h6>Serves:</h6>
                <p>{{recipe.recipe_serves}}</p>
            </div>
            <div class="col-3">
                <h6>Difficulty</h6>
                <p>{{recipe.recipe_difficulty}}</p>
            </div>
        </div>
    </div>
    <!-- recipe_ingredients -->
    <div class="recipe_ingredients">
        <h5>Recipe Ingredients</h5>
        <ul>
            {% for ingredient in recipe.recipe_ingredients %}
                <li class="recipe_ingredients_list">
                <p>{{ingredient}}</p>
            </li>
            {% endfor %}
            
        </ul>
    </div>
    <!-- recipe_instructions -->
    <div class="recipe_instructions">
        <h5>Recipe Instructions</h5>
        <ul>
            {% for instruction in recipe.recipe_instructions %}
            <li class="recipe_instructions">
                <p>{{instruction}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- recipe_tips -->
    <div class="recipe_tips">
        <h5>Recipe Tips</h5>
        <ul>
            {% for tip in recipe.recipe_tips %}
            <li class="recipe_tips">
                <p>{{tip}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- recipe_edit --> <!-- recipe_delete -->
    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" 
            class="waves-effect waves-light btn-small blue-grey-text darken-2 white">
                <i class="material-icons left">edit</i>
                Edit
            </a>
        </div>
        <div class="col-6">
            <a href="" class="waves-effect waves-light btn-small blue-grey-text darken-2 white">
                <i class="material-icons left">delete</i>
                Delete
            </a>
        </div>
    </div>

</div>
{% endblock %}